# Ignored directories
FIELDS/

# Ignore Snakmake files
*.snakemake

# Ignore SLURM files
*.slurm

# Ignore macOS Journaling files
*.DS_Store

# Ignore test files
test*

# Ignore built HTML files
table.html
images.html

# Pixi environments
.pixi
*.egg-info
pixi.toml # Ignore Pixi for Now
pixi.lock # Ignore Pixi for Now