# Ignored directories
logs/
UNCAL/
RATE/
FIELDS/

# Ignore Snakmake files
*.snakemake

# Ignore SLURM files
*.slurm

# Ignore FITS files
*.fits

# Ignore macOS Journaling files
*.DS_Store

# Ignore test files
test.*

# Ignore built HTML files
table.html
images.html
