[submodule "resources/pymodules/jwst"]
	path = workflow/envs/jwst
	url = https://github.com/spacetelescope/jwst.git
[submodule "resources/pymodules/grizli"]
	path = workflow/envs/grizli
	url = https://github.com/TheSkyentist/grizli.git
